html {
    background-color: crimson;
}

.cont {
    display: grid;
    grid-template-columns: 10vh 2fr 10vh;
    grid-template-rows: 15vh 8vh 50vh 8vh;
}

.box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: white;
}

.top {
    height: 50vh;
    width: 22vw;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: black;
}
