@font-face {
    font-family: font;
    src: url(Font/Cafe\ Matcha.ttf);
}
@font-face {
    font-family: font2;
    src: url(Font/Papernotes.ttf);
}
html {
    background-color: crimson;
}

.cont {
    font-family: font2;
    display: grid;
    grid-template-columns: 10vw 2fr 10vw;
    grid-template-rows: 15vh 8vh 2vh 1fr 8vh;
}

.box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: white;
}
.text{
    grid-column: 2/3;
    justify-self: center;
}
.box1 {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: white;
}

.conBox {
    display: grid;
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: white;
    color: black;
}
.topbox {
    grid-column: 1/4;
    grid-template-rows: 1fr;
    grid-template-columns: 2vw 1fr 3fr 3fr 2vw;
    display: grid;
    background-color: white;
}

.top {
    height: 50vh;
    width: 22vw;
}


.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 15vh;
    width: 15vw;
}

.link {
    grid-column: 3/5;
    align-self: center;
    justify-self: right;
    font-family: font;
    font-size: 50px;
}

nav a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: black;
}
.cal{
    grid-column: 2/3;
    grid-row: 2/3;
}
h2{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: right;
    font-size: 110%;
}